* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

li {
  display: flex;
  width: 300px;
  align-items: center;
  margin: 7px;
  padding: 7px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

img {
  width: 75px;
  margin-right: 10px;
}

li > p {
  font-size: 25px;
}